page-payment-method {
  .grid-con {
    height: 100%;
    padding: 5%;
    display: grid;
    justify-content: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 1em;
    background: white;
  }

  .grid-item {
    display: grid;
    width: 32vh;
    height: 32vh;
    color: map-get($colors, secondary);
    border-radius: 50%;
    border: 1.5px solid map-get($colors, secondary);
    margin: auto;
    padding: 5%;
  }

  .grid-icon {
    font-size: 3em;
  }

  .grid-item-content {
    font-size: 1.2em;
    color: map-get($colors, secondary);
    text-align: center;
    margin: auto;
  }
}
