page-payment-method {
  .scroll-content {
    background: white;
  }

  .grid-con {
    padding: 5%;
    background: white;
  }

  .grid-item {
    width: 32vh;
    height: 32vh;
    color: map-get($colors, secondary);
    border-radius: 50%;
    border: 1.5px solid map-get($colors, secondary);
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5%;
  }

  .grid-icon {
    font-size: 3em;
  }

  .grid-item-content {
    font-size: 1.2em;
    color: map-get($colors, secondary);
    text-align: center;
    margin: auto;
  }
}
