<ion-header color="bar">
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "feeds" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <p text-center *ngIf="posts.length == 0">{{ "noPosts" | translate }}</p>
  <ion-refresher (ionRefresh)="doRefresh($event)" color="primary">
    <ion-refresher-content color="primary"></ion-refresher-content>
  </ion-refresher>
  <div id="posts" *ngIf="posts.length >= 0">
    <ion-card class="post" *ngFor="let post of posts" no-padding>
      <ion-item (click)="openProfile(post)">
        <ion-avatar item-start>
          <img-loader
            [src]="this.api.url + '/mobile-profile-images/' + post.profile.id"
            useImg
          ></img-loader>
        </ion-avatar>
        <h2>{{ post.profile.firstName }} {{ post.profile.lastName }}</h2>
        <ion-note>{{ post.date | relativeTime }}</ion-note>
      </ion-item>
      <hr />
      <ion-card-content (click)="openPost(post)">
        <p>{{ post.content }}</p>
      </ion-card-content>

      <img [src]="this.api.url + '/mobile-post-images/' + post.id" alt="" />
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!this.last">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText=""
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab end bottom>
    <button ion-fab color="primary" (click)="createPost()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
