page-home {
  .conset{
  
     position: relative;
    top: 25px;

  }
    .fot{
 bottom: 0;
  } 
    .item-profile {
    top:0px;
        width: 100%;
            position: relative;
        background-position: center center;
        background-size: cover;
        background-color: map-get($colors , primary);
      
      //  height: 250px;
      }
  /* === Credit Card === */
  ion-scroll[scrollX]{
    background-color: map-get($colors , primary);
    white-space: nowrap;
padding: 10px;
ion-item{
    background-color: transparent;
color:#fff;
  
  }
  

  .card-title {
    position: absolute;
    top: 56%;
    font-size: 0.6em;
    width: 100%;
    color:#fff;
    font-weight: bold;
    //color: #000;
  }

  .card-subtitle {
    font-size: .8em;
    position: absolute;
    top: 72%;
    width: 100%;
    color: #fff;
    text-align: center;
  }
   .selected {
   background: url("../assets/img/bcard.jpg") ;
  background-size: cover;
   display:inline-block;
  width:150px;
  height:102px;
  padding:0px;
      position: relative;
    text-align: center;
}
.unselected{
  background: url("../assets/img/bcard.jpg") ;

  background-size: cover;
   display:inline-block;
  width:150px;
  height:100px;
  padding:0px;
      position: relative;
    text-align: center;
}
  .credit-card {
      display:inline-block;
      position:relative;
      width:1px;   /* This is 300px on 320px wide screen */
      max-width:500px;    /* Just to make sure that it doesnt get crazy on bg screens */
      min-width:300px;    /* And make sure that it contains at least some size */
      margin:10px auto;
      padding:10px;
      overflow:hidden;
      border-radius:6px;
      z-index:1;
  }}

  
}
