<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "e15Services" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="todo.controls.Card.invalid && (todo.controls.Card.dirty || todo.controls.Card.touched)">
          <p>{{ "validcardError" | translate }}</p>
        </div>
        <ion-item *ngIf="!todo.controls.mobilewallet.value">
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            (ionChange)="onSelectChange($event)"
            style="padding-left:5%;"
            no-padding
            formControlName="Card"
            interface="popover"
          >
            <ion-option *ngFor="let card of cards" [value]="card">
              {{ card.name }}
            </ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="todo.controls.INVOICENUMBER.invalid && (todo.controls.INVOICENUMBER.dirty || todo.controls.INVOICENUMBER.touched)">
          <p>{{ "validINVOICENUMBERError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "INVOICENUMBER" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="INVOICENUMBER"
            required
          ></ion-input>
        </ion-item>

        <div *ngIf="todo.controls.PHONENUMBER.invalid && (todo.controls.PHONENUMBER.dirty || todo.controls.PHONENUMBER.touched)">
          <p>{{ "validvoucherNumberError" | translate }}</p>
        </div>

        <ion-item>
          <ion-label stacked>{{ "PhoneNumber" | translate }} </ion-label>
          <ion-input
            type="number"
            formControlName="PHONENUMBER"
            required
          ></ion-input>
        </ion-item>

        <div *ngIf="todo.controls.Amount.invalid && (todo.controls.Amount.dirty || todo.controls.Amount.touched)">
          <p>{{ "validamountError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Amount" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="Amount"
            required
          ></ion-input>
        </ion-item>
<ion-item>
          <ion-label stacked>{{ "comment" | translate }}</ion-label>
          <ion-input type="text" formControlName="comment"></ion-input>
        </ion-item>
        <div *ngIf="todo.controls.IPIN.invalid && (todo.controls.IPIN.dirty || todo.controls.IPIN.touched)">
          <p *ngIf="todo.controls.mobilewallet.value">
            {{ "validipinError" | translate }}
          </p>
          <p *ngIf="!todo.controls.mobilewallet.value">
            {{ "validpinError" | translate }}
          </p>
        </div>
        <ion-item>
          <ion-label *ngIf="todo.controls.mobilewallet.value" stacked>
            {{ "PIN" | translate }}</ion-label
          >
          <ion-label *ngIf="!todo.controls.mobilewallet.value" stacked>
            {{ "IPIN" | translate }}</ion-label
          >
          <ion-input
            class="mask-text"
            type="tel"
            formControlName="IPIN"
            maxlength="4"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <div text-center>
        <button
          [disabled]="!isReadyToSave"
          ion-button
          type="submit"
          color="secondary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
