<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{ pageTitle | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span ion-text showWhen="ios">{{ "cancel" | translate }}</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="con">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div *ngIf="key == 'wallets'">
        <div [hidden]="form.controls.walletNumber.valid">
          <p>{{ "validvoucherNumberError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "wallet" | translate }}</ion-label>
          <ion-input type="number" formControlName="walletNumber"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="key == 'cards'">
        <div [hidden]="form.controls.cardNumber.valid">
          <p>{{ "validCardPANError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "CardPAN" | translate }}</ion-label>
          <ion-input type="number" formControlName="cardNumber"></ion-input>
        </ion-item>
        <div [hidden]="form.controls.expDate.valid">
          <p>{{ "validExpDateError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "ExpDate" | translate }}</ion-label>
          <ion-datetime
            type="Date"
            displayFormat="MM YYYY"
            pickerFormat="MM YYYY"
            max="2050-12-31"
            formControlName="expDate"
            doneText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            required
          ></ion-datetime>
        </ion-item>
      </div>

      <div *ngIf="key == 'favorites'">
        <div [hidden]="form.controls.favoriteText.valid">
          <p>{{ "validFavoriteTextError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "favoriteText" | translate }}</ion-label>
          <ion-input formControlName="favoriteText"></ion-input>
        </ion-item>
      </div>

      <div [hidden]="form.controls.name.valid">
        <p>{{ "validNameError" | translate }}</p>
      </div>
      <ion-item>
        <ion-label stacked> {{ "name" | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <div text-center>
        <button
          [disabled]="!isReadyToSave"
          ion-button
          type="submit"
          color="secondary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
