<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ 'internetCards' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <ion-grid>
  <ion-row>
    <ion-col>
      Type
    </ion-col>
    
  </ion-row>
  <hr>

  <ion-row *ngFor="let item of result">
    <ion-col>
      {{ item.type_name}}
    </ion-col><br>
    <ion-col >
      <div  class="container">
       <div class="scroll" scrollX="true">
      <span type="button" *ngFor="let value of item.values " (click)="openModal(value)">
        {{ value.price *rate+ '  SDG' }} 
      </span>
      </div>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>