page-load-pages {
  ion-content {
    background: white;
  }

  .grid-con {
    display: grid;
    justify-content: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .load-grid {
    display: grid;
    font-size: 1em;
    color: map-get($colors, secondary);
    border: 2px solid map-get($colors, bar);
  }

  .grid-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-size: 2em;
  }
}
