page-tabs {
  .gradient-button {
    background: linear-gradient(
      to bottom,
      map-get($colors, custom-red) 50%,
      map-get($colors, secondary)
    );
  }

  .ion-tab-icon-base {
    width: 32px;
    height: 32px;
    padding: 4px 4px 2px;
  }

  .ion-tab-icon-md-base {
    min-width: 0 !important;
    height: 32px;
  }

  .tabs-md .tab-button[aria-selected="true"] {
    color: map-get($colors, bar);
    background: map-get($colors, secondary);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    .tab-button-icon {
      color: map-get($colors, bar);
    }
  }

  .tabs-ios .tab-button[aria-selected="true"] {
    color: map-get($colors, bar);
    background: map-get($colors, secondary);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    .tab-button-icon {
      color: map-get($colors, bar);
    }
  }
}
