page-tabs {
  .gradient-button {
    background: linear-gradient(
      to bottom,
      map-get($colors, custom-red) 50%,
      map-get($colors, secondary)
    );
  }

  .ion-tab-icon-base {
    width: 32px;
    height: 32px;
    padding: 4px 4px 2px;
  }

  .md .ion-tab-icon-base {
    min-width: 0 !important;
    height: 32px;
  }

  .ios .ion-tab-icon-base {
    min-width: 0 !important;
    height: 32px;
  }
}
