<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ title | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        
        
        <div
          *ngIf="
            !validCard && submitAttempt && !todo.controls.mobilewallet.value
          "
        >
          <p>{{ "validcardError" | translate }}</p>
        </div>
        <ion-item *ngIf="!todo.controls.mobilewallet.value">
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            (ionChange)="onSelectChange($event)"
            style="padding-left:5%;"
            no-padding
            interface="action-sheet"
            formControlName="Card"
            interface="popover"
          >
            <ion-option *ngFor="let card of cards" [value]="card">
              {{ card.name }}
            </ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!todo.controls.payeeId.valid && submitAttempt">
          <p>{{ "validOPError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "opreatore" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            interface="action-sheet"
            formControlName="payeeId"
          >
            <ion-option *ngFor="let pay of payee" [value]="pay.PayeeId">{{
              pay.PayeeName | translate
            }}</ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf="!todo.controls.MPHONE.valid && submitAttempt">
          <p>{{ "validvoucherNumberError" | translate }}</p>
        </div>

        <ion-item>
          <ion-label stacked>{{ "PhoneNumber" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="MPHONE"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.Amount.valid && submitAttempt">
          <p>{{ "validamountError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Amount" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="Amount"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.IPIN.valid && submitAttempt">
          <p *ngIf="todo.controls.mobilewallet.value">
            {{ "validipinError" | translate }}
          </p>
          <p *ngIf="!todo.controls.mobilewallet.value">
            {{ "validpinError" | translate }}
          </p>
        </div>
        <ion-item>
          <ion-label *ngIf="todo.controls.mobilewallet.value" stacked>
            {{ "PIN" | translate }}</ion-label
          >
          <ion-label *ngIf="!todo.controls.mobilewallet.value" stacked>
            {{ "IPIN" | translate }}</ion-label
          >
          <ion-input
            class="mask-text"
            type="number"
            formControlName="IPIN"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
