<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> {{ "addCard" | translate }} </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="!todo.controls.PAN.valid && submitAttempt">
          <p>{{ "validCardPANError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "CardPAN" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="PAN"
            disabled="edit"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.expDate.valid && submitAttempt">
          <p>{{ "validExpDateError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "ExpDate" | translate }}</ion-label>
          <ion-datetime
            type="Date"
            displayFormat="MM YYYY"
            pickerFormat="MM YYYY"
            max="2050-12-31"
            formControlName="expDate"
            doneText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            required
          ></ion-datetime>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
