<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "contactUsPage" | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span ion-text showWhen="ios">{{ "cancel" | translate }}</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="con">
    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
      <ion-list>
        <div *ngIf="contactForm.controls.title.invalid && (contactForm.controls.title.dirty || contactForm.controls.title.touched)">
          <p>{{ "validContactMessageTitleError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>
            {{ "contactMessageTitle" | translate }}
          </ion-label>
          <ion-input type="text" formControlName="title" required></ion-input>
        </ion-item>

        <div *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched)">
          <p>{{ "validContactMessageError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "contactMessage" | translate }} </ion-label>
          <ion-textarea
            rows="3"
            formControlName="message"
            required
          ></ion-textarea>
        </ion-item>
      </ion-list>

      <div text-center>
        <button
          [disabled]="!isReadyToSave"
          ion-button
          type="submit"
          color="secondary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
