<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "BalInq" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="!todo.controls.Card.valid && submitAttempt">
          <p>{{ "validcardError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            no-padding
            interface="action-sheet"
            formControlName="Card"
            interface="popover"
          >
            <ion-option *ngFor="let Card of cards" [value]="Card">{{
              Card.pan
            }}</ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf="!todo.controls.IPIN.valid && submitAttempt">
          <p>{{ "validipinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "IPIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="number"
            formControlName="IPIN"
          ></ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
