<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "getBalancePage" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="todo.controls.Card.invalid && (todo.controls.Card.dirty || todo.controls.Card.touched)">
          <p>{{ "validcardError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            no-padding
            formControlName="Card"
            interface="popover"
          >
            <ion-option *ngFor="let card of cards" [value]="card">
              {{ card.name }}
            </ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf="todo.controls.IPIN.invalid && (todo.controls.IPIN.dirty || todo.controls.IPIN.touched)">
          <p>{{ "validipinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "IPIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="tel"
            formControlName="IPIN"
            maxlength="4"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <div text-center>
        <button
          [disabled]="!isReadyToSave"
          ion-button
          type="submit"
          color="secondary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
