<ion-header color="secondary">
  <ion-navbar color="secondary">
    <ion-title>{{ post.profile.fullName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div
    *ngIf="post.haveImage"
    class="item-profile"
    text-center
    #profilePic
    [style.background-image]="
      'url(' + this.api.url + '/postimage/' + post.id + ' )'
    "
  ></div>

  <ion-item no-lines>
    <ion-avatar item-start (click)="openOtherProfile('ProfilePage', post)">
      <img [src]="this.api.url + '/profileimage/' + post.profile.userName" />
    </ion-avatar>
    <h2 class="sticky">{{ post.profile.fullName }}</h2>
    <p>{{ post.postDate | date: "dd/MM/yyyy hh:mm" }}</p>
    <div>
      <button ion-button clear small icon-left (click)="like(post)">
        <ion-icon name="thumbs-up"></ion-icon>
        {{ post.posttolikes.length }}
      </button>
      <button ion-button clear small icon-left>
        <ion-icon name="text"></ion-icon>
        {{ post.posttocomments.length }}
      </button>
    </div>
  </ion-item>

  <hr />
  <ion-item no-lines padding>
    <h2 text-wrap>{{ post.postTxt }}</h2>
  </ion-item>
  <hr />

  <ion-list>
    <ion-item *ngFor="let comments of post.posttocomments">
      <ion-avatar item-start (click)="openOtherProfile('ProfilePage', post)">
        <img
          [src]="this.api.url + '/profileimage/' + comments.profile.userName"
        />
      </ion-avatar>
      <h6 class="sticky">{{ comments.profile.fullName }}</h6>
      <ion-note class="comment-date" item-end>
        {{ comments.commentDate | date: "dd/MM/yyyy hh:mm" }}
      </ion-note>
      <p class="comment-text">{{ comments.commentTxt }}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="messageForm" (submit)="send()" novalidate>
    <ion-item>
      <ion-input
        required
        formControlName="message"
        placeholder="{{ 'addComment' | translate }}"
      ></ion-input>
      <button type="submit" ion-button clear item-end>
        <ion-icon class="footer-btn" name="send"></ion-icon>
      </button>
    </ion-item>
  </form>
</ion-footer>
