<ion-header color="secondary">
  <ion-navbar color="secondary"> <ion-title></ion-title> </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div
    *ngIf="post.haveImage"
    class="item-profile"
    text-center
    #profilePic
    [style.background-image]="
      'url(' + this.api.url + '/postimage/' + post.id + ' )'
    "
  ></div>

  <div>
    <ion-item class="itemDev" (click)="openOtherProfile('ProfilePage', post)">
      <ion-avatar item-start>
        <img [src]="this.api.url + '/profileimage/' + post.profile.userName" />
      </ion-avatar>
      <h2 class="sticky">{{ post.profile.fullName }}</h2>
      <p>{{ post.postDate | date: "dd/MM/yyyy hh:mm" }}</p>
      <div>
        <button ion-button clear small icon-left (click)="viewlikes(post)">
          <ion-icon name="thumbs-up"></ion-icon>
          {{ post.posttolikes.length }}
        </button>
        <button ion-button clear small icon-left>
          <ion-icon name="text"></ion-icon>
          {{ post.posttocomments.length }}
        </button>
      </div>
    </ion-item>
  </div>
  <div padding class="item-detail">
    <p>{{ post.postTxt }}</p>
  </div>
  <ion-item>
    <ion-list>
      <ion-item
        *ngFor="let comments of post.posttocomments"
        class="item-detail"
        class="itemDev"
        (click)="openOtherProfile('ProfilePage', post)"
        no-padding
      >
        <ion-avatar item-start>
          <img
            [src]="this.api.url + '/profileimage/' + comments.profile.userName"
          />
        </ion-avatar>
        <h2 class="sticky">{{ comments.profile.fullName }}</h2>
        <ion-note item-end>{{ comments.commentDate | relativeTime }}</ion-note>
        <p>{{ comments.commentTxt }}</p>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
<ion-footer>
  <form [formGroup]="messageForm" (submit)="send()" novalidate>
    <ion-item>
      <ion-input
        required
        formControlName="message"
        placeholder="{{ 'addComment' | translate }}"
      ></ion-input>
      <button type="submit" ion-button clear item-end>
        <ion-icon class="footer-btn" name="send"></ion-icon>
      </button>
    </ion-item>
  </form>
</ion-footer>
