<ion-header >
    


  <ion-toolbar color="bar" >
      <ion-title>
          Transaction Detials
        </ion-title>
      <ion-buttons start>
          <button ion-button (click)="dismiss()">
            <span ion-text color="dark" showWhen="ios">Cancel</span>
            <ion-icon color="dark" name="md-close" ></ion-icon>
          </button>
        </ion-buttons>
    
    
  </ion-toolbar>
  

</ion-header>


<ion-content no-padding >
<div>
   
    <ion-item color="bar" no-lines style="text-align: center;" >
     
      <ion-grid  *ngFor="let item of main | keys" >
        <ion-row  *ngFor="let itm of item.value | keys">
           
            <ion-item class="no-padding" color="bar" style="text-align: center;">
                {{itm.key | translate }} 
              <ion-col text-wrap style="font-size: 30px; ">
                        <br>
                     {{itm.value}} SDG              
                        </ion-col>
                        <br>
                        <ion-icon color="green" name="checkmark-circle" style="zoom:3.0;"></ion-icon>
                      </ion-item>
          </ion-row>
        </ion-grid>
    
    </ion-item>
</div>

  <ion-grid  *ngFor="let item of items | keys" >
    <ion-row  *ngFor="let itm of item.value | keys">
      <ion-item class="no-padding">
      <ion-col text-wrap>
  
          {{itm.key | translate }}:
 
        </ion-col>
       
          <ion-col item-end>
              <ion-note item-end>
       
            {{itm.value}}
          </ion-note>
              </ion-col>
           
            </ion-item>
    </ion-row>
    </ion-grid>

      <button class="subbutn" ion-button  (click)="dismiss()" color="secondary">{{'Close'|translate}}</button>
</ion-content>
