<ion-content scroll="false">
  <div *ngIf="isVideo">
    <iframe
      width="100%"
      height="315"
      [src]="trustedVideoUrl ? trustedVideoUrl : null"
      frameborder="0"
      allowfullscreen
      allow="autoplay; encrypted-media"
    ></iframe>
  </div>
  <div *ngIf="!isVideo" class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      ZoalPay
      <div padding>
        <button ion-button block (click)="login()" class="signup">
          {{ "login" | translate }}
        </button>

        <button ion-button block (click)="signup()" class="login">
          {{ "createaccount" | translate }}
        </button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-select
      okText="{{ 'Submit' | translate }}"
      cancelText="{{ 'close' | translate }}"
      okText="{{ 'Submit' | translate }}"
      cancelText="{{ 'close' | translate }}"
      style="padding-left:5%;"
      [(ngModel)]="language"
      (ngModelChange)="ChangeLang()"
    >
      <ion-option *ngFor="let language of languages" [value]="language.Code">
        {{ language.language }}
      </ion-option>
    </ion-select>
  </ion-item>
</ion-footer>
