<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "QR" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="todo">
    <ion-list>
      <ion-card>
        <ion-item *ngIf="!createdCode">
          <h2>{{ "QRmessage" | translate }}</h2>
        </ion-item>
        <ion-item *ngIf="!isGmpp">
          <ion-label floating>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            (ionChange)="onChange()"
            interface="action-sheet"
            formControlName="Card"
          >
            <ion-option *ngFor="let Card of cards" [value]="Card">
              {{ Card.pan }}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="isGmpp">
          <ion-label floating>{{ "wallet" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            (ionChange)="onChange()"
            interface="action-sheet"
            formControlName="wallet"
          >
            <ion-option *ngFor="let wallet of wallets" [value]="wallet">
              {{ wallet }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-list>
  </form>
  <ion-card *ngIf="panQr">
    <ngx-qrcode [qrc-value]="panQr"></ngx-qrcode>
    <ion-card-content>
      <p>Card: {{ panQr }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="walletQr">
    <ngx-qrcode [qrc-value]="walletQr"></ngx-qrcode>
    <ion-card-content>
      <p>wallet: {{ walletQr }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
