<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "QR" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="todo">
    <ion-list>
      <ion-card>
        <ion-item *ngIf="!isGmpp">
          <ion-label floating>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            (ionChange)="onChange()"
            interface="popover"
            formControlName="Card"
          >
            <ion-option *ngFor="let card of cards" [value]="card">
              {{ card.name }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-list>
  </form>
  <ion-card *ngIf="panQr || walletQr">
    <ion-item *ngIf="panQr">
      <ngx-qrcode qrc-element-type="canvas" [qrc-value]="panQr"></ngx-qrcode>
    </ion-item>
    <ion-item *ngIf="walletQr">
      <ngx-qrcode qrc-element-type="canvas" [qrc-value]="walletQr"></ngx-qrcode>
    </ion-item>
  </ion-card>

  <ion-fab end bottom>
    <button ion-fab color="primary" (click)="share()">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
