<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "transactionHistoryPage" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding #content>
  <ion-refresher (ionRefresh)="doRefresh($event)" color="primary">
    <ion-refresher-content color="primary"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button
      ion-item
      *ngFor="let tran of transactions"
      (click)="openTransaction(tran)"
    >
      {{ parseTranType(tran.type) | translate }}
      <p *ngIf="tran.tranAmount">
        {{ tran.tranAmount }} {{ "SDG" | translate }}
      </p>
      <p>{{ tran.responseMessage }}</p>
      <ion-note>
        <h6>{{ tran.tranDateTime | ebsTranDateTime }}</h6>
      </ion-note>
      <ion-icon
        item-end
        name="checkmark-circle"
        color="green"
        *ngIf="tran.responseStatus === 'Successful'"
      ></ion-icon>
      <ion-icon
        item-end
        name="close-circle"
        color="danger"
        *ngIf="tran.responseStatus !== 'Successful'"
      ></ion-icon>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!this.last">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
