<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "transactionHistory" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding #content>
  <ion-refresher (ionRefresh)="doRefresh($event)" color="primary">
    <ion-refresher-content color="primary"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item *ngFor="let hist of history" (click)="itemSelected(hist)">
      {{ hist.transactionType | translate }}
      <ion-note>
        <h6>{{ hist.transactionDate | translate }}</h6>
      </ion-note>
      <ion-icon
        item-end
        name="checkmark-circle"
        color="green"
        *ngIf="hist.status === 'Approved'"
      ></ion-icon>
      <ion-icon
        item-end
        name="remove-circle"
        color="danger"
        *ngIf="hist.status !== 'Approved'"
      ></ion-icon>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!this.last">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
