<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> {{ "gmppTranToCard" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="!todo.controls.walletNumber.valid && submitAttempt">
          <p>{{ "validWalletError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "WalletNumber" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            no-padding
            interface="action-sheet"
            formControlName="walletNumber"
            interface="popover"
          >
            <ion-option *ngFor="let wallet of wallets" [value]="wallet.number">
              {{ wallet.number }}
            </ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!todo.controls.transactionAmount.valid && submitAttempt">
          <p>{{ "validamountError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "Amount" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="transactionAmount"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.consumerPIN.valid && submitAttempt">
          <p>{{ "validpinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "PIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="number"
            formControlName="consumerPIN"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
