<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "contacts" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    (ionInput)="getItems($event)"
    placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
  ></ion-searchbar>
  <button ion-button block (click)="uploadContacts()">
    {{ "ImportContacts" | translate }}
  </button>
  <ion-list>
    <ion-item *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="this.api.url + '/profileimage/' + item.userName" />
      </ion-avatar>
      <div>
        <h2>{{ item.fullName }}</h2>
        <p>+249{{ item.userName }}</p>
      </div>

      <!--
        <div *ngIf="item.profileOne.userName!=this.username">
                <h2>{{item.profileOne.userName}}</h2>
                <p>{{item.profileOne.fullName}}</p>
        </div>
        <div *ngIf="item.profileTow.userName!=this.username">
        <h2>{{item.profileTow.userName}}</h2>
        <p>{{item.profileTow.fullName}}</p>
        </div>
      -->
      <!--
        <button ion-button (click)="openItem(item)" clear item-end>
          {{ "Send" | translate }}
        </button>
      -->

      <ion-note item-end *ngIf="item.note">{{ item.note }}</ion-note>
    </ion-item>
    <!--
      <span *ngFor="let contact of contactlist" >
        <ion-item >
       {{contact.displayName}}
       <p>{{contact.phoneNumbers[0].value}}</p>
        </ion-item>
      </span>
    -->
  </ion-list>
</ion-content>
