// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #000;
$background-color: #fafafa;
$app-direction: multi;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  bar: #fafafa,
  primary: #e64a19,
  // secondary: #e64a19,
    secondary: #ef5725,
  custom-red: #ed2124,
  deep-red: #b71820,
  danger: #b71c1c,
  light: #ffffff,
  dark: #222,
  fabs: #ff7043,
  green: green
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$spinner-md-crescent-color: #0277bd;

$loading-ios-background: transparent;
$loading-md-background: $loading-ios-background;
$loading-wp-background: $loading-ios-background;
$loading-md-box-shadow: none;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$font-family-md-base: "Tajawal";
$font-family-ios-base: "Tajawal";

$font-size-base: 1.8em;

// $tabs-ios-tab-font-size: 0.7em;
// $tabs-md-tab-font-size: 0.7em;

// $toolbar-ios-title-font-size: 1.1em;
// $toolbar-md-title-font-size: 1.1em;
