<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "mobilePayment" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="bulb"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row class="align-center" style="margin-left:10px">
    <p>{{ "registerMobile" | translate }} <br /></p>
  </ion-row>
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="signup()">
      <ion-list>
        <div *ngIf="!todo.controls.walletNumber.valid && submitAttempt">
          <p>{{ "validWalletError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "WalletNumber" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            no-padding
            interface="action-sheet"
            formControlName="walletNumber"
            interface="popover"
          >
            <ion-option *ngFor="let wallet of wallets" [value]="wallet.number">
              {{ wallet.number }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
