<ion-menu id="sideMenu" [content]="content" persistent="true">
  <ion-content padding class="side-menu">
    <div text-center>
      <ion-avatar class="avatar" (click)="openProfile()">
        <img *ngIf="profile" [src]="getImageSrc()" />
      </ion-avatar>
      <h5>{{ profile?.firstName }} {{ profile?.lastName }}</h5>
      <h6 dir="ltr">+249 {{ profile?.login }}</h6>
      <ion-item no-lines text-center>
        <button
          class="lang-button"
          outline
          color="bar"
          ion-button
          round
          (click)="changeLang('ar')"
        >
          {{ "ar" | translate }}
        </button>
        <button
          class="lang-button"
          outline
          color="bar"
          ion-button
          round
          (click)="changeLang('en')"
        >
          {{ "en" | translate }}
        </button>
      </ion-item>
    </div>
    <ion-list>
      <ion-item
        menuClose
        ion-item
        *ngFor="let p of sideMenuPages"
        (click)="openPage(p)"
      >
        <ion-icon name="{{ p.icon }}" item-start></ion-icon>
        {{ p.title | translate }}
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item
        menuClose
        ion-item
        *ngFor="let p of pages"
        (click)="openPage(p)"
      >
        <ion-icon name="{{ p.icon }}" item-start></ion-icon>
        {{ p.title | translate }}
      </ion-item>
    </ion-list>

    <ion-item no-lines (click)="logOut()">
      <ion-icon name="log-out" item-start></ion-icon>
      {{ "LogOut" | translate }}
    </ion-item>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
