// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ios, .md {
  // ion-item{
  //   padding: 0;
  // }
  // ion-label , ion-input ,ion-select,ion-option{
  //   padding-left: 5%;;
  // }
  .masters{
    margin-top:1%; 
  }
  .subbutn{
    width: 80%;
    margin-left: 10%;

  }
  .con{
    padding-bottom: 50px;
  }
  .con ion-item{
    padding: 0px;
    ion-label , ion-input , p{
      padding-left: 15px;
    }
  }
  .con p{
    color:map-get($colors ,  danger);
    padding-left: 15px;
  }
ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
 //padding: 4vh 4vw;
}
ion-modal.inset-modal-box {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
 padding: 18vh 8vw;
}

}
