<ion-menu id="sideMenu" [content]="content">
  <ion-content padding class="side-menu">
    <div text-center>
      <ion-avatar class="avatar" (click)="openProfile()">
        <img-loader
          fallbackAsPlaceholde="true"
          fallback="assets/img/userPlaceholder.png"
          [src]="this.api.url + '/profileimage/' + profile?.userName"
          useImg
        >
        </img-loader>
      </ion-avatar>
      <h5>{{ profile?.fullName }}</h5>
      <h6 dir="ltr">+249 {{ profile?.userName }}</h6>
    </div>
    <ion-list>
      <ion-item>
        <ion-icon name="custom-language" item-start></ion-icon>
        <ion-label>{{ "AppLanguage" | translate }}</ion-label>
        <ion-select
          okText="{{ 'Submit' | translate }}"
          cancelText="{{ 'close' | translate }}"
          style="padding-left:5%;"
          [(ngModel)]="language"
          (ngModelChange)="changeLang()"
        >
          <ion-option *ngFor="let language of languages" [value]="language.Code"
            >{{ language.language | translate }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item
        menuClose
        ion-item
        *ngFor="let p of sideMenuPages"
        (click)="openPage(p)"
      >
        <ion-icon name="{{ p.icon }}" item-start></ion-icon>
        {{ p.title | translate }}
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item
        menuClose
        ion-item
        *ngFor="let p of pages"
        (click)="openPage(p)"
      >
        <ion-icon name="{{ p.icon }}" item-start></ion-icon>
        {{ p.title | translate }}
      </ion-item>
    </ion-list>

    <ion-item no-lines (click)="logOut()">
      <ion-icon name="log-out" item-start></ion-icon>
      {{ "LogOut" | translate }}
    </ion-item>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
