<!--
  Generated template for the TransfaerToCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> {{ this.navParams.get("name") | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="!todo.controls.CourseID.valid && submitAttempt">
          <p>{{ "validCourseIDError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "CourseID" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'Close' | translate }}"
            style="padding-left:5%;"
            interface="action-sheet"
            formControlName="CourseID"
          >
            <ion-option *ngFor="let CourseID of CourseIDs" [value]="CourseID">{{
              CourseID.title
            }}</ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf="!todo.controls.FormKind.valid && submitAttempt">
          <p>{{ "validFormKindError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "FormKind" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'Close' | translate }}"
            style="padding-left:5%;"
            interface="action-sheet"
            formControlName="FormKind"
          >
            <ion-option *ngFor="let FormKind of FormKinds" [value]="FormKind">{{
              FormKind.title
            }}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!todo.controls.SETNUMBER.valid && submitAttempt">
          <p>{{ "validSETNUMBERError" | translate }}</p>
        </div>
        <ion-item *ngIf="!isArab">
          <ion-label stacked>{{ "SETNUMBER" | translate }}</ion-label>
          <ion-input type="number" formControlName="SETNUMBER"></ion-input>
        </ion-item>

        <ion-item *ngIf="isArab">
          <ion-label stacked>{{ "STUCNAME" | translate }}</ion-label>
          <ion-input type="text" formControlName="STUCNAME"></ion-input>
        </ion-item>
        <ion-item *ngIf="isArab">
          <ion-label stacked>{{ "STUCPHONE" | translate }}</ion-label>
          <ion-input type="number" formControlName="STUCPHONE"></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.transactionAmount.valid && submitAttempt">
          <p>{{ "validamountError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Amount" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="transactionAmount"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.consumerPIN.valid && submitAttempt">
          <p>{{ "validipinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "PIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="number"
            formControlName="consumerPIN"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
