<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "billInquiryPage" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="!todo.controls.Card.valid && submitAttempt">
          <p>{{ "validcardError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            no-padding
            formControlName="Card"
            interface="popover"
          >
            <ion-option *ngFor="let card of cards" [value]="card">
              {{ card.name }}
            </ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf="!todo.controls.MPHONE.valid && submitAttempt">
          <p>{{ "validvoucherNumberError" | translate }}</p>
        </div>

        <ion-item>
          <ion-label stacked>{{ "NUMBER" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="MPHONE"
            required
          ></ion-input>
        </ion-item>

        <div *ngIf="!todo.controls.IPIN.valid && submitAttempt">
          <p>{{ "validipinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "IPIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="number"
            formControlName="IPIN"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <button ion-button class="subbutn" type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
