<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "addpost" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <textarea
          #myInput
          id="myInput"
          rows="3"
          maxLength="500"
          (keyup)="resize()"
          formControlName="name"
        ></textarea>
      </ion-item>
      <input
        type="file"
        #fileInput
        style="visibility: hidden; height: 0px"
        formControlName="file"
        name="file"
        (change)="processWebImage($event)"
      />
      <div class="profile-image-wrapper">
        <div
          padding
          class="profile-image-placeholder"
          *ngIf="!this.form.controls.profilePic.value"
        >
          <!-- <button ion-button icon-start color="secondary">
            <ion-icon name="attach"></ion-icon>
            {{ "addimage" | translate }}
          </button> -->
          <ion-fab end bottom>
            <button ion-fab color="primary" (click)="presentActionSheet()">
              <ion-icon name="attach"></ion-icon>
            </button>
          </ion-fab>
        </div>
        <div
          class="profile-image"
          [style.backgroundImage]="getProfileImageStyle()"
          *ngIf="this.form.controls.profilePic.value"
        >
          <img-loader
            [src]="this.form.controls.profilePic.value"
            width="100%"
            height="120px"
          ></img-loader>
        </div>
      </div>
      <div padding>
        <button
          ion-button
          color="primary"
          (click)="done()"
          [disabled]="!isReadyToSave"
          block
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>
