<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "addpost" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <textarea
          #myInput
          id="myInput"
          rows="5"
          maxLength="500"
          (keyup)="resize()"
          formControlName="content"
        ></textarea>
      </ion-item>

      <ion-item>
        <div>
          <img-loader
            *ngIf="postImage?.image"
            [src]="
              'data:' +
              postImage.imageContentType +
              ';base64,' +
              postImage.image
            "
            (click)="viewImage(post)"
          ></img-loader>

          <button
            *ngIf="!postImage?.image"
            (click)="getPicture()"
            ion-button
            full
          >
            <ion-icon name="add-circle">
              {{ "ChoseImage" | translate }}
            </ion-icon>
          </button>
        </div>
      </ion-item>

      <div padding>
        <button
          ion-button
          class="subbutn"
          color="primary"
          (click)="done()"
          round
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>
