<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "addpost" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <textarea
          #myInput
          id="myInput"
          rows="5"
          maxLength="500"
          (keyup)="resize()"
          formControlName="content"
        ></textarea>
      </ion-item>
      <div class="profile-image-wrapper">
        <div
          padding
          class="profile-image-placeholder"
          *ngIf="!this.form.controls.image.value"
        >
          <button ion-button round color="primary" (click)="selectImage()">
            <ion-icon name="attach"></ion-icon>
          </button>
        </div>
        <div
          class="profile-image"
          *ngIf="this.form.controls.image.value"
        >
          <img-loader
            [src]="this.form.controls.image.value"
            width="100%"
            height="120px"
          ></img-loader>
        </div>
      </div>
      <div padding>
        <button
          ion-button
          class="subbutn"
          color="primary"
          (click)="done()"
          [disabled]="!isReadyToSave"
          round
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>
