<ion-header color='bar'>
    <ion-navbar color='bar'>
        <ion-title> ZoalPay</ion-title>
        <ion-buttons end>
            <button ion-button item-end (click)="open('HistoryPage')">
                <ion-icon name="clock"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item color="primary" no-lines style="text-align: center; ">
        {{'payserv' | translate}}
    </ion-item>
    <ion-scroll scrollX style="height:70px ;  " no-lines>
        <section>
            <ion-col  *ngFor="let page of Paymentpages">
                <button  (click)="openPayment(page.component,page.var)" class="buts" ion-button block color="primary">
                    <div>
                        <ion-icon name={{page.icon}}></ion-icon>
                        <br>
                        <label>{{page.title | translate}}</label>
                    </div>
                </button>
            </ion-col>
            <!-- <ion-col>
                <button (click)="scan()" class="buts" ion-button block color="primary">
                    <div>
                        <ion-icon name="camera"></ion-icon>
                        <br>
                        <label>Scan and pay</label>
                    </div>
                </button>
            </ion-col> -->
        </section>
    </ion-scroll>
    <div [ngSwitch]="pet" style="background-color:  #FAFAFA; padding-top:0.1px;">
        <div *ngSwitchCase="'puppies'">
            <ion-card style="margin-left:0px;     width:100%;
              padding:0px;">
                <ion-item color="light" no-lines style="text-align: center; ">
                    {{'ATM_CASHCARD' | translate}}
                </ion-item>
                <ion-scroll scrollX style="height:70px ;  background-color: #ffffff;" no-lines>
                    <section no-lines>
                            <ion-col >
                                    <button (click)="open('HomePage','')" class="but" block color="light">
                                        <div>
                                            <ion-icon name="card"></ion-icon>
                                            <br>
                                            <label>{{'Cards'| translate}}</label>
                                        </div>
                                    </button>
                                </ion-col>
                        <ion-col *ngFor="let page of Consumerpages">
                            <button (click)="openConsumer(page.component,page.var)" class="but" block color="light">
                                <div>
                                    <ion-icon name={{page.icon}}></ion-icon>
                                    <br>
                                    <label>{{page.title | translate}}</label>
                                </div>
                            </button>
                        </ion-col>
                     
                    </section>
                </ion-scroll>
            </ion-card>
        </div>
        <ion-card style="margin-left:0px;     width:100%;
        padding:0px;">
            <ion-item color="light" no-lines style="text-align: center; ">
                {{'MOBILEPAYMENT' | translate}}
            </ion-item>
            <ion-card-content no-padding>
                <ion-scroll scrollX style="height:70px ;  background-color: #ffffff;" no-lines>
                    <section>
                        <ion-col *ngFor="let page of Gmpppages">
                            <button (click)="openGmpp(page.component,page.var)" class="but" block color="light">
                                <div>
                                    <ion-icon name={{page.icon}}></ion-icon>
                                    <br>
                                    <label>{{page.title | translate}}</label>
                                </div>
                            </button>
                        </ion-col>
                    </section>
                </ion-scroll>
            </ion-card-content>
        </ion-card>
    </div>
    <div style="background-color: #FAFAFA;; height:5px; ">
    </div>
</ion-content>