<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "accountInfo" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <input
      type="file"
      #fileInput
      style="visibility: hidden; height: 0px"
      formControlName="file"
      name="file"
      (change)="processWebImage($event)"
    />
    <div class="profile-image-wrapper" (click)="presentActionSheet()">
      <div
        class="profile-image-placeholder"
        *ngIf="!this.form.controls.profilePic.value"
      >
        <ion-icon name="add"></ion-icon>
        <div>{{ "ChoseImage" | translate }}</div>
      </div>

      <div
        class="profile-image"
        [style.backgroundImage]="getProfileImageStyle()"
        *ngIf="this.form.controls.profilePic.value"
      >
        <img-loader
          class="profile-image"
          [src]="this.form.controls.profilePic.value"
        ></img-loader>
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input
          type="text"
          placeholder="{{ 'name' | translate }}"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <div padding>
        <button
          ion-button
          color="primary"
          (click)="done()"
          [disabled]="!isReadyToSave"
          block
        >
          {{ "login" | translate }}
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>
