<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "accountInfo" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="con">
    <form [formGroup]="userForm" (ngSubmit)="postData()">
      <div class="profile-image-wrapper" (click)="selectImage()">
        <div class="profile-image-placeholder" *ngIf="!profileImage?.image">
          <ion-icon name="add"></ion-icon>
          <div>{{ "ChoseImage" | translate }}</div>
        </div>

        <div class="profile-image" *ngIf="profileImage?.image">
          <img
            class="profile-image"
            [src]="
              'data:' +
              profileImage.imageContentType +
              ';base64,' +
              profileImage.image
            "
          />
        </div>
      </div>
      <ion-list>
        <div *ngIf="!userForm.controls.firstName.valid && submitAttempt">
          <p>{{ "validFirstNameError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "firstName" | translate }} </ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>

        <div *ngIf="!userForm.controls.lastName.valid && submitAttempt">
          <p>{{ "validLastNameError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "lastName" | translate }} </ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>

        <div *ngIf="!userForm.controls.email.valid && submitAttempt">
          <p>{{ "validEmailError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "email" | translate }} </ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <div *ngIf="!userForm.controls.bio.valid && submitAttempt">
          <p>{{ "validProfileBioError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "profileBio" | translate }} </ion-label>
          <ion-textarea rows="3" formControlName="bio"></ion-textarea>
        </ion-item>

        <button class="subbutn" ion-button type="submit" color="secondary">
          {{ "Submit" | translate }}
        </button>
      </ion-list>
    </form>
  </div>
</ion-content>
