<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "accountInfo" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="con">
    <form [formGroup]="userForm" (ngSubmit)="postData()">
      <div class="profile-image-wrapper" (click)="selectImage()">
        <div
          class="profile-image-placeholder"
          *ngIf="!profileImage?.image"
          [style.background-image]="
            'url(' + userForm.controls.image.value + ')'
          "
        >
          <ion-icon name="add"></ion-icon>
          <div>{{ "ChoseImage" | translate }}</div>
        </div>

        <div
          class="profile-image-placeholder"
          *ngIf="profileImage?.image"
          [style.background-image]="
            'url(' +
            'data:' +
            profileImage.imageContentType +
            ';base64,' +
            profileImage.image +
            ')'
          "
        >
          <ion-icon name="add"></ion-icon>
          <div>{{ "ChoseImage" | translate }}</div>
        </div>
      </div>
      <ion-list>
        <div [hidden]="userForm.controls.firstName.valid">
          <p>{{ "validFirstNameError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "firstName" | translate }} </ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>

        <div [hidden]="userForm.controls.lastName.valid">
          <p>{{ "validLastNameError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "lastName" | translate }} </ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>

        <div [hidden]="userForm.controls.email.valid">
          <p>{{ "validEmailError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "email" | translate }} </ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <div [hidden]="userForm.controls.bio.valid">
          <p>{{ "validProfileBioError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "profileBio" | translate }} </ion-label>
          <ion-textarea rows="3" formControlName="bio"></ion-textarea>
        </ion-item>

        <div text-center>
          <button
            [disabled]="!isReadyToSave"
            ion-button
            type="submit"
            color="secondary"
          >
            {{ "Submit" | translate }}
          </button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
