<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{ "linkAccount" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con" [ngSwitch]="compleate">
    <form [formGroup]="todo" (ngSubmit)="logForm()" *ngSwitchCase="'FALSE'">
      <ion-list>
        <div *ngIf="!todo.controls.primaryAccountNumber.valid && submitAttempt">
          <p>{{ "validCardPANError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="primaryAccountNumber"
            required
          >
          </ion-input>
          <button
            class="show-fav-button"
            color="secondary"
            clear
            item-end
            ion-button
            type="button"
            (click)="showFavorites()"
          >
            <ion-icon name="heart"></ion-icon>
          </button>
        </ion-item>

        <div *ngIf="!todo.controls.consumerPIN.valid && submitAttempt">
          <p>{{ "validpinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "PIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="number"
            formControlName="consumerPIN"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>

    <form
      [formGroup]="complate"
      (ngSubmit)="ComplateForm()"
      *ngSwitchCase="'TRUE'"
    >
      <ion-list>
        <ion-item>
          <ion-label stacked>{{ "OTP" | translate }}</ion-label>
          <ion-input type="text" formControlName="consumerOTP" required>
          </ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
      <button
        class="subbutn"
        ion-button
        type="submit"
        (click)="Cancle()"
        color="danger"
      >
        {{ "CancleLinkAccount" | translate }}
      </button>
    </form>
  </div>
</ion-content>
