<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title *ngIf="!isGmpp">{{ "consumerPayment" | translate }}</ion-title>
    <ion-title *ngIf="isGmpp">{{ "gmppPayment" | translate }}</ion-title>
    <ion-buttons *ngIf="isGmpp" end>
      <a ion-button icon-only (click)="openOptionsMenu($event)">
        <ion-icon name="more"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-grid style="height:100%;" no-padding>
    <ion-row style="height:100%;">
      <ion-col style="height:100%;">
        <div
          style=" position: relative; height:100%; text-align: center;"
          (click)="scanQr()"
        >
          <div class="card-title">
            <ion-icon name="custom-qr-scanner"></ion-icon>
          </div>
          <div class="card-subtitle">{{ "scanQr" | translate }}</div>
        </div>
      </ion-col>
      <ion-col>
        <div
          style="height:100%; text-align: center;"
          (click)="openPage('QrGeneratorPage')"
        >
          <div class="card-title">
            <ion-icon name="custom-barcode"></ion-icon>
          </div>
          <div class="card-subtitle">{{ "qrCode" | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height:100%;">
      <ion-col style="height:100%;">
        <div
          style="height:100%; text-align: center;"
          (click)="openPagesList('telecomPages')"
        >
          <div class="card-title">
            <ion-icon name="custom-telecom"></ion-icon>
          </div>
          <div class="card-subtitle">{{ "telecomServices" | translate }}</div>
        </div>
      </ion-col>
      <ion-col>
        <div
          style="height:100%; text-align: center;"
          (click)="openPage('ElectricityServicesPage')"
        >
          <div class="card-title">
            <ion-icon name="custom-flash"></ion-icon>
          </div>
          <div class="card-subtitle">
            {{ "electricityServices" | translate }}
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height:100%;">
      <ion-col style="height:100%;">
        <div
          style="height:100%; text-align: center;"
          (click)="openPagesList('govermentPages')"
        >
          <div class="card-title">
            <ion-icon name="custom-briefcase"></ion-icon>
          </div>
          <div class="card-subtitle">{{ "govermentServices" | translate }}</div>
        </div>
      </ion-col>
      <ion-col>
        <div
          style="height:100%; text-align: center;"
          (click)="openPagesList('transferPages')"
        >
          <div class="card-title"><ion-icon name="custom-cash"></ion-icon></div>
          <div class="card-subtitle">{{ "transferServices" | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height:100%;">
      <ion-col style="height:100%;">
        <div
          style="height:100%; text-align: center;"
          (click)="openPage('SpecialPaymentPage')"
        >
          <div class="card-title">
            <ion-icon name="custom-heart"></ion-icon>
          </div>
          <div class="card-subtitle">{{ "charityServices" | translate }}</div>
        </div>
      </ion-col>
      <ion-col>
        <div
          style="height:100%; text-align: center;"
          (click)="openPage('SpecialPaymentPage')"
        >
          <div class="card-title">
            <ion-icon name="custom-basket"></ion-icon>
          </div>
          <div class="card-subtitle">{{ "giftsServices" | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
