page-main-menu {
  .grid-con {
    height: 100%;
    padding: 2%;
    display: grid;
    justify-content: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.3em 0.3em;
    background: map-get($colors, bar);
  }

  .grid-item {
    padding: 5%;
    display: grid;
    font-size: 1em;
    color: map-get($colors, secondary);
    background: white;
    text-align: center;
    border-radius: 5%;
  }

  .grid-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-size: 2.5em;
  }
}
