<ion-header>
  <ion-navbar color="secondary">
    <ion-title> {{ "wallet" | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>
      <ion-label>{{ "myWallets" | translate }}</ion-label>
    </ion-list-header> -->

    <ion-item-sliding *ngFor="let wallet of wallets">
      <ion-item>
        <ion-label>
          <h3>{{ wallet.number }}</h3>
          <p>{{ wallet.modified | date: "short" }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteWallet(wallet)">
          <ion-icon name="trash"></ion-icon>
          {{ "delete" | translate }}
        </button>
        <!-- <button ion-button color="secondary" (click)="updateWallet(wallet)">
          <ion-icon name="build"></ion-icon>
          {{ "edit" | translate }}
        </button> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="con">
    <form [formGroup]="form" (submit)="addWallet()">
      <div *ngIf="!form.controls.walletNumber.valid && submitAttempt">
        <p>{{ "invalidWalletNumber" | translate }}</p>
      </div>
      <ion-item>
        <ion-input
          formControlName="walletNumber"
          placeholder="{{ 'wallet' | translate }}"
        ></ion-input>
      </ion-item>
      <button ion-button class="subbutn" type="submit">
        {{ "addWallet" | translate }}
      </button>
    </form>
  </div>
</ion-footer>
