<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ "generateIpinPage" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form
      [formGroup]="generateIpinForm"
      (ngSubmit)="submit()"
      *ngIf="!isComplete"
    >
      <ion-list>
        <div *ngIf="generateIpinForm.controls.card.invalid && (generateIpinForm.controls.card.dirty || generateIpinForm.controls.card.touched)">
          <p>{{ "validcardError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "Card" | translate }}</ion-label>
          <ion-select
            okText="{{ 'Submit' | translate }}"
            cancelText="{{ 'close' | translate }}"
            style="padding-left:5%;"
            no-padding
            formControlName="card"
            interface="popover"
          >
            <ion-option *ngFor="let card of cards" [value]="card">
              {{ card.name }}
            </ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf="generateIpinForm.controls.phoneNumber.invalid && (generateIpinForm.controls.phoneNumber.dirty || generateIpinForm.controls.phoneNumber.touched)">
          <p>{{ "validvoucherNumberError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "PhoneNumber" | translate }} </ion-label>
          <ion-input
            type="number"
            formControlName="phoneNumber"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <div text-center>
        <button
          [disabled]="!isReadyToSave1"
          ion-button
          type="submit"
          color="secondary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>

    <form
      [formGroup]="completeForm"
      (ngSubmit)="submitCompletion()"
      *ngIf="isComplete"
    >
      <ion-list>
        <div *ngIf="completeForm.controls.otp.invalid && (completeForm.controls.otp.dirty || completeForm.controls.otp.touched)">
          <p>{{ "enterCode" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "OTP" | translate }}</ion-label>
          <ion-input type="number" formControlName="otp" required> </ion-input>
        </ion-item>
        <div *ngIf="completeForm.controls.ipin.invalid && (completeForm.controls.ipin.dirty || completeForm.controls.ipin.touched)">
          <p>{{ "validnewipinError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked>{{ "NEWIPIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="tel"
            formControlName="ipin"
            maxlength="4"
            required
          >
          </ion-input>
        </ion-item>
      </ion-list>

      <div text-center>
        <button
          [disabled]="!isReadyToSave2"
          ion-button
          type="submit"
          color="secondary"
        >
          {{ "Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</ion-content>
