<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> {{ "lockAccount" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="masters">
  <div class="con">
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <div *ngIf="!todo.controls.walletNumber.valid && submitAttempt">
          <p>{{ "validwalletError" | translate }}</p>
        </div>
        <ion-item>
          <ion-label stacked> {{ "walletNumber" | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="walletNumber"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!todo.controls.consumerPIN.valid && submitAttempt">
          <p>{{ "validconsumerPINError" | translate }}</p>
        </div>

        <ion-item>
          <ion-label stacked> {{ "PIN" | translate }}</ion-label>
          <ion-input
            class="mask-text"
            type="number"
            formControlName="consumerPIN"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <button class="subbutn" ion-button type="submit" color="secondary">
        {{ "Submit" | translate }}
      </button>
    </form>
  </div>
</ion-content>
