<ion-header color="bar">
  <ion-navbar >
      <ion-title > ZoalPay</ion-title>
      <ion-buttons end>
              <a ion-button icon-only (click)="openPopover($event)">
                      <ion-icon name="more"></ion-icon>
                    </a>
          <!-- <button ion-button item-end (click)="open('HomePage')">
                  <ion-icon name="card"></ion-icon>
              </button> -->
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
   <ion-grid style="height:100%;"  no-padding>
      <ion-row style="height:100%;">
      <ion-col style="height:100%;">
              <div style=" position: relative; height:100%; text-align: center; background-color:#9ccc65;" (click)="openlist('Paymentpages')">
                      <div class="img-container">
                              
                              <img src="assets/img/11.jpg"/>
                  </div>
                  <div class="card-title">  <ion-icon name="qr-scanner"></ion-icon>
                  </div>
                  <div class="card-subtitle"> {{'Scan and Pay' | translate}}</div>
                  
              </div>
  </ion-col>   
      <ion-col>
              <div style="height:100%; text-align: center; background-color:#ab47bc;" (click)="openlist('Paymentpages')">
                      <div class="img-container">
                              
                              <img src="assets/img/12.png"/>     
                              
                  </div>
                  <div class="card-title"> <div class="cercil">  <ion-icon name="barcode"></ion-icon></div>
                  </div>
                  <div class="card-subtitle"> {{'my QR Code' | translate}}</div>
                  
              </div>
      </ion-col> 
       
      </ion-row> 
      <ion-row style="height:100%;">
              <ion-col style="height:100%;">
                      <div style="height:100%; text-align: center; background-color:#1976d2;" (click)="openlist('Paymentpages')">
                              <div class="img-container">
                                      <img src="assets/img/paymentServices.jpg"/>
                          
                          </div>
                          <div class="card-title">   <div class="cercil"><ion-icon name="cart"></ion-icon>
                          </div></div> 
                          <div class="card-subtitle"> {{'payserv' | translate}}</div>
                          
                      </div>
          </ion-col>   
              <ion-col>
                      <div style="height:100%; text-align: center; background-color:#673ab7;" (click)="openlist('TransferPages')">
                              <div class="img-container">
                                      <img src="assets/img/cp.jpg"/>
                         
                          </div>
                          <div class="card-title">  <div class="cercil">  <ion-icon name="swap"></ion-icon>
                          </div></div>
                          <div class="card-subtitle"> {{'transervice' | translate}}</div>
                          
                      </div>
              </ion-col> 
               
              </ion-row> 
              <ion-row style="height:100%;">
                      <ion-col style="height:100%;">
                              <div style="height:100%; text-align: center; background-color:#b71c1c;" (click)="openlist('Gmpppages')">
                                      <div class="img-container">
                                              
                                              <img src="assets/img/mp.jpg"/>
                                  </div>
                                  <div class="card-title">  <div class="cercil">  <ion-icon name="build"></ion-icon>
                                  </div></div>
                                  <div class="card-subtitle"> {{'otherservice' | translate}}</div>
                                  
                              </div>
                  </ion-col>   
                      <ion-col>
                              <div style="height:100%; text-align: center; background-color:#03a9f4;" (click)="open('HomePage')">
                                      <div class="img-container">
                                              <img src="assets/img/13.jpg"/>
                                              
                                 
                                  </div>
                                  <div class="card-title">  <div class="cercil">  <ion-icon name="card"></ion-icon>
                                  </div></div>
                                  <div class="card-subtitle"> {{'Cards' | translate}}</div>
                                  
                              </div>
                      </ion-col> 
                       
                      </ion-row> 
  </ion-grid>   
        <!-- <ion-card (click)="openlist('Paymentpages')">
              <div class="img-container">
                      
          <img src="assets/img/cp.jpg"/>
          </div>
          <div class="card-title">   <ion-icon name="cart"></ion-icon>
          </div>
          <div class="card-subtitle"> {{'payserv' | translate}}</div>
          
      </ion-card>
      
        <ion-card (click)="openlist('TransferPages')">
          <div class="img-container">
          <img src="assets/img/mp.jpg"/>
          </div>
          <div class="card-title">   <ion-icon name="swap"></ion-icon>
          </div>
          <div class="card-subtitle">{{'transervice' | translate}}</div>
        </ion-card>
      
        <ion-card (click)="openlist('Gmpppages')">
              <div class="img-container">
          <img src="assets/img/paymentServices.jpg"/>
      </div>
      <div class="card-title">   <ion-icon name="build"></ion-icon>
      </div>
          <div class="card-subtitle">{{'otherservice' | translate}}</div>
        </ion-card>
      
 -->
      
      </ion-content>


  <!-- <ion-item color="primary" no-lines style="text-align: center; ">
      {{'payserv' | translate}}
  </ion-item>
  <ion-scroll scrollX style="height:60px ;  " no-lines>
      <section no-padding>
          <ion-col no-padding *ngFor="let page of Paymentpages">
              <button  (click)="openPayment(page.component,page.var)" class="buts" ion-button  color="primary">
                  <div style="width:100%; height:100%;">
                      <ion-icon name={{page.icon}}></ion-icon>
                      <br>
                      <label >{{page.title | translate}}</label>
                  </div>
              </button>
          </ion-col>
          <ion-col>
              <button (click)="scan()" class="buts" ion-button block color="primary">
                  <div>
                      <ion-icon name="camera"></ion-icon>
                      <br>
                      <label>Scan and pay</label>
                  </div>
              </button>
          </ion-col>
      </section>
  </ion-scroll>
  <ion-card style="margin-left:0px;     width:100%;
  padding:0px;">
      <ion-item text-wrap color="light" no-lines style="text-align: center; ">
          {{'transervice' | translate}}
      </ion-item>
      <ion-card-content no-padding>
          <ion-scroll scrollX style="height:60px ;  background-color: #ffffff;" no-lines>
              <section >
                  <ion-col no-padding *ngFor="let page of TransferPages" no-padding>
                      <button (click)="open(page.component,page.var)" class="but" block color="light">
                          <div>
                              <ion-icon name={{page.icon}}></ion-icon>
                              <br>
                              <label text-wrap>{{page.title | translate}}</label>
                          </div>
                      </button>
                  </ion-col>
              </section>
          </ion-scroll>
      </ion-card-content>
  </ion-card>
  <div [ngSwitch]="pet" style="background-color:  #FAFAFA; padding-top:0.1px;">
    
      <ion-card style="margin-left:0px;     width:100%;
      padding:0px;">
          <ion-item color="light" no-lines style="text-align: center; ">
              {{'otherservice' | translate}}
          </ion-item>
          <ion-card-content no-padding>
              <ion-scroll scrollX style="height:60px ;  background-color: #ffffff;" no-lines>
                  <section>
                      <ion-col no-padding *ngFor="let page of Gmpppages">
                          <button (click)="open(page.component,page.var)" class="but" block color="light">
                              <div>
                                  <ion-icon name={{page.icon}}></ion-icon>
                                  <br>
                                  <label text-wrap>{{page.title | translate}}</label>
                              </div>
                          </button>
                      </ion-col>
                  </section>
              </ion-scroll>
          </ion-card-content>
      </ion-card>
  </div>
  <div style="background-color: #FAFAFA;; height:5px; ">
  </div> 
</ion-content>-->