page-feeds{
    ion-content{ background-color: gray;
    }
    ion-spinner * {
        stroke:  map-get($colors, primary);
    }

    .spineer  {
        width: 56px;
        height: 56px;
        stroke: #444;
        fill: #222;
        position: fixed;
        z-index: 999;
     
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    .posts{
      
    }

    .imgclass{
 
        
    }
}
