page-feeds{
    ion-content{
         background-color: gray;
    }
    ion-spinner * {
        stroke:  map-get($colors, primary);
    }

    .spineer  {
        width: 56px;
        height: 56px;
        stroke: #444;
        fill: #222;
        position: fixed;
        z-index: 999;
     
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    .posts{
      
    }

    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.1); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
}
