page-transaction-detail {
  .container {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
  }

  .watermark {
    background: url("../../../assets/imgs/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 28vh;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .trans {
    background-color: transparent;
    font-size: 0.9em;
  }
}
