<ion-content no-padding>
  <div>
    <ion-toolbar color="secondary">
      <ion-title> {{ "Transaction Details" | translate }} </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text showWhen="ios">Cancel</span>
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <div *ngFor="let item of (main | keys)">
      <div text-center *ngFor="let itm of (item.value | keys)">
        <ion-item no-lines text-center>
          {{ itm.key | translate }}
          <div *ngIf="itm.value">{{ itm.value }} {{ "SDG" | translate }}</div>
          <br />

          <ion-icon
            color="green"
            name="checkmark-circle"
            style="zoom:5.0;"
          ></ion-icon>
        </ion-item>
      </div>
    </div>
  </div>

  <ion-grid *ngFor="let item of (items | keys)">
    <ion-row *ngFor="let itm of (item.value | keys)">
      <ion-item class="no-padding">
        <ion-col text-wrap> {{ itm.key | translate }} : </ion-col>
        <ion-col dir="ltr" item-end> {{ itm.value }} </ion-col>
      </ion-item>
    </ion-row>
  </ion-grid>

  <button class="subbutn" ion-button (click)="dismiss()" color="secondary">
    {{ "close" | translate }}
  </button>
</ion-content>
