<ion-header color="secondary">
  <ion-navbar color="secondary">
    <ion-title> {{ "Transaction Details" | translate }} </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="tran-receipt" no-padding>
  <div class="watermark"></div>

  <div *ngFor="let item of (main | keys)">
    <div text-center *ngFor="let itm of (item.value | keys)">
      <ion-item class="trans" no-lines text-center>
        {{ "successfulTransaction" | translate }}
        <div>{{ itm.key | translate }}</div>
        <div *ngIf="itm.value">{{ itm.value }} {{ "SDG" | translate }}</div>
      </ion-item>
    </div>
  </div>

  <div *ngFor="let item of (items | keys)">
    <div *ngFor="let itm of (item.value | keys)">
      <ion-item class="trans" no-lines>
        <ion-col text-wrap>{{ itm.key | translate }}</ion-col>
        <ion-col dir="ltr" item-end>{{ itm.value }}</ion-col>
      </ion-item>
    </div>
  </div>

  <button class="subbutn" ion-button (click)="share()" color="secondary">
    {{ "share" | translate }}
  </button>
</ion-content>
